@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky-navbar {
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.sticky-navbar.scrolled {
  background-color: rgba(0, 102, 204, 0.6); /* Adjust the color and opacity */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease forwards;
}